@{Layout = null;}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
    let map;
    let flightPath;
    let idCar = null;
    let responseData = null;
    let selectedPath = null;
    let interval = null;



    var flightPlanCoordinates = [];
    var temp1 = [];
    var temp2 = [];
    var temp3 = [];
    var speed = [];
    var upsstatus = [];
    var distance = [];




</script>
<div class="container-fluid" id="container" style="position: relative;" data-view="dashboard.index">
    <div class="col-2" id="deviceList" style="position: absolute;
    background: red;
    z-index: 2;
    left: 0;display:none">
    </div>
    <div class="row">

        <div class="col-12" style="position:relative">
            <div class="card shadow mt-3">
                <div class="card-header d-flex p-1" style="background-color:#000000c7;color:white">
                    <button id="btnDeviceList" class="btn btn-success">CarList</button>
                    <form class="form-inline mt-2 mr-2 mt-md-0 ml-auto mb-0" id="formFilterDate">
                        <label class="mx-2"><span>От</span></label>
                        <div class="form-group">
                            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" name="between" />
                                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                        <label class="mx-2"><span>До</span></label>
                        <div class="form-group">
                            <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2" name="to" />
                                <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-success my-2 ml-2" type="button" id="filterDate">Поиск</button>
                    </form>
                </div>
                <div class="card-body p-0">
                    <div style="height: 53vh" id="map">

                    </div>
                    <div class="row m-0 w-100">
                        <div class="col-12 px-0">
                            <div class="row w-100 m-0 p-0" style="background-color:#000000c7">
                                <div class="col-auto px-1 my-1">
                                    <button class="btn btn-success" id="play">&#9658;</button>
                                </div>
                                <div class="col-auto px-1 my-1">
                                    <button class="btn btn-danger" id="pause">&#9632;</button>
                                </div>
                                <div class="col px-1 my-auto mr-2">
                                    <input type="range" class="w-100" min="0" step="1" value="0" max="0" id="rangeInputHistory">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="chart">
        <div id="regions_div" style="width: 900px; height: 500px;"></div>
        @*<div id="carList"></div>*@
        @*<button class="btn btn-danger" id="test">TEST</button>*@
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        
    });
</script>

<script src='@Url.Content("~/Scripts/TypeScript/app.js")' type="module"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDewei63DwV7feSXARLdYYzCb-Cb4qX6Ag" async defer></script>
